<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FUMIC"
        tools:targetApi="31">

        <activity
            android:name=".ui.BookListActivity2"
            android:exported="true"
            android:label="Manage Book"
            android:parentActivityName=".ui.ManageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ManageActivity" />
        </activity>
        <activity android:name=".ui.UpdateBookActivity"
            android:exported="true"/>
        <activity android:name=".ui.ChapterContentActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.BookListActivity"
            android:exported="true"
            android:label="Book in Category"
            android:parentActivityName=".ui.CategoryListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ManageActivity" />
        </activity>
        <activity
            android:name=".ui.CategoryListActivity"
            android:exported="true"
            android:label="Manage Category"
            android:parentActivityName=".ui.ManageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ManageActivity" />
        </activity>
        <activity
            android:name=".ui.ManageUserActivity"
            android:exported="true"
            android:label="Manage User"
            android:parentActivityName=".ui.ManageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ManageActivity" />
        </activity>
        <activity
            android:name=".ui.BookDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ManageActivity"
            android:exported="true" />
        <activity
            android:name=".ui.AddBookActivity"
            android:exported="true" />
        <activity
            android:name=".ui.FavouriteActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HistoriesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.BrowseBookActivity"
            android:exported="true" />
        <activity
            android:name=".ui.UserDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>